<!-- 	<h1>Welcome to the new <b>iClicker</b> module for Tsugi!</h1> -->

<style>
	form {
		margin:auto;
		width:60%;
	}

	.btn-block {
		max-width: 664px;
	}

	#alerts {
		height:60px;
	}

	.alert {
		max-width: 664px;
	}

	.spinner {
		margin: auto;
		width: 50px;
		height: 40px;
		text-align: center;
		font-size: 10px;
	}

	.spinner > div {
		background-color: #333;
		height: 100%;
		width: 6px;
		display: inline-block;

		-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
		animation: sk-stretchdelay 1.2s infinite ease-in-out;
	}

	.spinner .rect2 {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}

	.spinner .rect3 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	.spinner .rect4 {
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}

	.spinner .rect5 {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}

	@-webkit-keyframes sk-stretchdelay {
		0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
		20% { -webkit-transform: scaleY(1.0) }
	}

	@keyframes sk-stretchdelay {
		0%, 40%, 100% { 
			transform: scaleY(0.4);
			-webkit-transform: scaleY(0.4);
		}  20% { 
			transform: scaleY(1.0);
			-webkit-transform: scaleY(1.0);
		}
	}

	div#active-table {
		min-height: 105px;
	}

	
</style>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">iClicker</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Quick Poll<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a id='yn'>Yes/No</a></li>
						<li><a id='tf'>True/False</a></li>
						<li><a id='4c'>4 Choice</a></li>
						<li><a id='5c'>5 Choice</a></li>
						<li role="separator" class="divider"></li>
						<li><a id='cp'>Custom Poll</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Controls<span class="caret"></span></a>
					<ul class="dropdown-menu">
				<li><a id='resume'><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Resume</a></li>
				<li><a id='pause'><span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause</a></li>
				<li><a id='stop'><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</a></li>
				<!-- <li><a id='next'><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span> Next</a></li> -->
					</ul>
				</li>
				<li><a id='repeat'>Repeat Poll</a></li>

				</ul>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a id="results">Results Window</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>


<div id='main' style="min-height: 300px;" data="">

	<div id="alerts" align=center style="display: none;">
		<div class="alert alert-success" role="alert" style='display:none;'>
			<strong>Success!</strong> <span id='message'></span>
		</div>
		<div class='alert alert-danger' role='alert' style='display: none;'>
			<strong>Error!</strong> <span id='message'></span>
		</div>
	</div>

	<canvas data='' id="chart" style="display: none;">
	</canvas>

	<div id="timer" align="center" style="font-family: monospace;display: none;">
	<!-- <span style="font-size:5em">Title</span><br> -->
		<span id="seconds" style="font-size: 15em">60</span>
		<br>
		<span style="font-size: 4em">seconds</span>
	</div>



	<div id='custom-poll' style='margin-top: 50px; display: none;'>
		<form id='multiple-choice' class='form-horizontal' style="">
		<h3 align=center>Custom Poll Form</h3>
			<input type="hidden" name='type' value=multiple-choice>
			<div class="form-group" id='title'>
				<label>Title</label>
				<input class="form-control" name='title'>
			</div>
			<div id="choices">
				<div class="form-group" id='choice'>
					<label>Choices</label>
					<input class="form-control" name='choice'>
				</div>
				<div class="form-group" id='choice'>
					<input class="form-control" name='choice'>
				</div>
			</div>
			<div class='form-group'>
				<label>Options</label><br>
				<label class="checkbox-inline">
					<input type="checkbox" id="random" value="option1">Random
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="immediately" value="option2" checked>Start Immediately
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="quick" value="option3" checked> Quick Poll
				</label>
			</div>
			<div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6" style="padding-right: 5px; padding-left: 0px">
				<input type=button name='add-choice' class='btn btn-primary btn-block' value="Add Choice">
			</div>
			<div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6" style="padding-right: 0px; padding-left: 5px">
				<input type='submit' class='btn btn-success btn-block' value="Start">
			</div>
		</form>
	</div>
</div>

<div id="active-table" style="padding-top:50px;min-height: 171px">
	<h4 style="display: block;">Active Polls</h4>
	<table class="table table-hover" id="active">
		<thead> 
			<tr> <th>Title</th> <th>Created</th> <th>Responses</th> <th>Options</th> </tr> 
		</thead>
		<tbody> 

		</tbody>
	</table>
</div>
<!-- http://tobiasahlin.com/spinkit/ -->
<!-- <div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div> -->

<h4>Pending Polls</h4>
<div style="min-height: 75px">
<table class="table table-hover" id="pending">
	<thead> 
		<tr> <th>Title</th> <th>Created</th> <th>Responses</th> <th>Options</th> </tr> 
	</thead>
	<tbody> 
		 <!-- <tr><td>Title</td><td>Created</td> <td>Responses</td> <td>Start</td></tr> -->
	</tbody>
	<tfoot>
	</tfoot>
</table>
</div>

<div>
<h4>Completed Polls</h4>
<table class="table table-hover" id="archive" style="margin-bottom: 0px" data='5'>
	<thead> 
		<tr> <th>Title</th> <th>Completed</th> <th>Responses</th> <th>Correct</th> </tr> 
	</thead>
	<tbody> 
		 
	</tbody>
	<tfoot>
	</tfoot>
</table>
<div align=center>
	<a id='more'>See More</a>
</div>
</div>


<!-- form for poll-->

<!-- Template div -->
<div class='templates' style='display:none;'>
	<div class='form-group' id='choice'>
		<div class="input-group">
			<input name="choice" class='choice form-control' type='text'>
			<div class="input-group-addon">Remove</div>
		</div>
	</div>

	<table>
		<tbody id="active">
			<tr id="poll" data=""> <td id="title"></td> <td id="date"></td> <td id="responses"></td> <td><a id='retract'>Retract</a></td> </tr> 
		</tbody>
		<tbody id="pending">
			<tr id="poll" data=""> <td id="title"></td> <td id="date"></td> <td id="responses"></td> <td><a id='start'>Start</a>&nbsp&nbsp&nbsp<a id='delete'>Delete</a></td> </tr> 
		</tbody>
		<tbody id="archive">
			<tr id="poll" data=""> <td id="title"></td> <td id="date"></td> <td id="responses"></td> <td id='correct'></td> </tr> 
		</tbody>
	</table>
</div>
<script src="https://cdn.rawgit.com/nnnick/Chart.js/v2.0-dev/dist/Chart.js"></script>
<script>
	// Since JQuery loaded @ bottom, must wait for DOM to load to use $
	document.addEventListener('DOMContentLoaded', function(){
		// prevent form from posting on click
		$('form').bind('submit',function(e){e.preventDefault();});

		// AJAX request to server on button click
		$("input[type=submit]").click(function(event) {
			// post form to server; "form" selected due to LTI requirements
			var form_data = $("form#multiple-choice").serializeObject();
			if (!$('form#multiple-choice input#immediately').is(':checked'))
				form_data.action = 'save'
			if (form_data.choice.indexOf("") >= 0) {
				errorAlert("You left a choice field blank",3000)
				return;
			}
			ajaxPost(form_data, function (response) {
				debugger;
				if (response.action) {
					if (response.result) {
						successAlert("Your poll was successfully saved!", 5000);
						prependToTable('pending', response);
						$('div#custom-poll').fadeOut();
						$('form#multiple-choice')[0].reset();
					} else {
						errorAlert("Unable to save your poll!", 3000);
					}
				} else {
					successAlert("Your poll was successfully sent to the class!", 5000);
					response.title = form_data.title;
					prependToTable('active', response, true);
					if ($('div#main form input#quick').is(':checked'))
						startTimer(response.poll_id);
					else
						$('div#custom-poll').fadeOut();
				}
			})
		});

		function incrementChoice(input) {
			input = input.replace(")","");
			if (input.length > 1) throw "cannot increment strings longer than one character";
			if (input.charCodeAt(0) >= 48 && input.charCodeAt(0) <= 57) {
				return parseInt(input)+1;
			}
			return String.fromCharCode(input.charCodeAt(0)+1);
		}


		$.fn.serializeObject = function () {
			var o = {};
			var a = this.serializeArray();
			$.each(a, function() {
				if (this.name in o) {
					if (typeof(o[this.name]) == 'object')
						o[this.name].push(this.value);
					else {
						var tmp = o[this.name];
						o[this.name] = [tmp,this.value];
					}
				} else {
					o[this.name] = this.value;
				}
			});
			return o;
		}

		function getActive() {
			$.post(location.href, {'action':'get_active'})
			.done(function(response) {
				console.log(response);
				response = JSON.parse(response);
				response.date = response.modified;
				prependToTable('active', response, true);
			})
		}

		function addActive(response) {
			var row = $('div.templates table#active tr').clone();
			row.attr('data', response.poll_id);
			row.find('#date').text(response.modified);
			row.find('#responses').text(response.count);
			if (!response.title)
				row.find('#title').text("Poll #"+response.poll_id);
			else
				row.find('#title').text(response.title);
			$('table#active tbody').append(row);
		}

		function successAlert(message, duration) {
			var alert = $('div.alert-success');
			$('div.alert').finish();
			alert.find('#message').text(message);
			alert.fadeIn().delay(duration).fadeOut();
		}

		function errorAlert(message, duration) {
			var alert = $('div#alerts .alert-danger');
			$('div.alert').finish();
			$('div#alerts').finish();
			alert.find('#message').text(message);
			$('div#alerts').slideDown(function () {
				alert.fadeIn().delay(duration).fadeOut();
			}).delay(duration).slideUp();
		}

		
		
		$("input[name=add-choice]").click(function(event) {
			var choice = $("div.templates div#choice").clone();
			choice.hide();
			choice.appendTo($("form#multiple-choice div#choices")).show('slide');
		});

		$("form#multiple-choice").on('click', 'div.input-group-addon', function(event) {
			$(event.toElement.closest('div#choice')).hide('slide',{direction:'left'}, function (event) {
				this.remove();
			})
		});

// 		Retract polls, remove from DOM, and alert
$("table").on("click", "a#retract", function(event) {
	event.stopPropagation();
	retractPoll($(event.target).parents('tr').attr('data'));
});

function retractPoll(poll_id) {
	$.post(location.href, {'action':'retract_poll', 'poll_id':poll_id})
	.done(function(response) {
		if (response == 'true') {
			successAlert("poll retracted", 2000);
			removeFromTable('active',poll_id);
			ajaxPost({action:'get_poll',poll_id:poll_id}, function (response) {
				response.date = response.completed;
				prependToTable("archive", response);
				drawChart(response);
			})
		}
	});
}

function removeFromTable(table,poll_id) {
	debugger;
	var row = $('table#'+table+' tr[data='+poll_id+']');
	row.hide('fade', function () {
		this.remove();
	});
			// row.remove();
		}

		function prependToTable(table,details,empty) {
			var row = $('div.templates tbody#'+table+' tr').clone();
			row.attr('data', details.poll_id);
			row.find('#date').text(details.date||"Not Recorded");
			row.find('#responses').text(details.count||0);
			if (row.find('#correct').length > 0) 
				row.find('#correct').text(details.correct||0)
			if (!details.title)
				row.find('#title').text("Poll #"+details.poll_id);
			else
				row.find('#title').text(details.title);
			row.hide();
			if (empty)
				row.prependTo($('table#'+table+' tbody').empty()).show('fade');
			else
				row.prependTo($('table#'+table+' tbody')).show('fade');
		}

		function appendToTable(table,details,empty) {
			var row = $('div.templates tbody#'+table+' tr').clone();
			row.attr('data', details.poll_id);
			row.find('#date').text(details.date||"Not Recorded");
			row.find('#responses').text(details.count||0);
			if (row.find('#correct').length > 0) 
				row.find('#correct').text(details.correct||0)
			if (!details.title)
				row.find('#title').text("Poll #"+details.poll_id);
			else
				row.find('#title').text(details.title);
			// $('table#'+table+' tbody').prepend(row);
			row.hide();
			if (empty)
				row.appendTo($('table#'+table+' tbody').empty()).show('fade');
			else
				row.appendTo($('table#'+table+' tbody')).show('fade');
		}

		function ajaxPost(data, cb) {
			$.post(location.href,data)
			.done(function(response) {
				cb(JSON.parse(response));
			});
		}

		$('ul.nav a#yn').click(function (event) {
			ajaxPost({
				choice: ['Yes','No'],
				type:'multiple-choice'
			}, function (response) {
				successAlert("Your poll was successfully sent to the class!", 5000);
				response.count = "0";
				prependToTable('active', response, true);
				startTimer(response.poll_id);
			})
		});

		$('nav a#tf').click(function (event) {
			ajaxPost({
				choice: ['True','False'],
				type: 'multiple-choice'
			}, function (response) {
				successAlert("Your poll was successfully sent to the class!", 5000);
				response.count = "0";
				prependToTable('active', response, true);
				startTimer(response.poll_id);
			})
		});

		$('nav a#4c').click(function (event) {
			ajaxPost({
				choice: ['A','B', 'C', 'D'],
				type:'multiple-choice'
			}, function (response) {
				successAlert("Your poll was successfully sent to the class!", 5000);
				response.count = "0";
				prependToTable('active', response,true);
				startTimer(response.poll_id);
			})
		});

		$('nav a#5c').click(function (event) {
			ajaxPost({
				choice: ['A','B', 'C', 'D', 'E'],
				type:'multiple-choice'
			}, function (response) {
				successAlert("Your poll was successfully sent to the class!", 5000);
				response.count = "0";
				prependToTable('active', response,true);
				startTimer(response.poll_id);
			})
		});

		$('nav a#cp').click(function (event) {
			function pollIn() {$('div#custom-poll').fadeIn();}
			if ($('div#timer').is(":visible"))
				$('div#timer').slideUp(pollIn);
			if ($("div#main canvas#chart").is(":visible"))
				$("div#main canvas#chart").slideUp(pollIn)
			else
				pollIn();
		});

		$('input[type=checkbox]#immediately').change(function(event) {
			if ($(event.currentTarget).is(":checked")) {
				$('input[type=submit]').val("Start");
			} else {
				$('input[type=submit]').val("Save");
			}
		})

		$('a#more').click(function(event) {
			debugger;
			var start = parseInt($('table#archive').attr('data'));
			getArchive(start);
			$('table#archive').attr('data', start+5);

		})

		function getArchive(range,prepend) {
			ajaxPost({
				action: 'get_archive',
				range: ""+range

			}, function (response) {
				debugger;
				for (i in response) {
					if (prepend)
						prependToTable('archive',response[i],false);
					else
						appendToTable('archive',response[i],false);
				}
			});
		}

		function processResponses(title,response) {
			responses = response.responses;
			choices = []
			for (i in response.choices)
				choices.push(response.choices[i].value)
			var data = {
				labels: choices, 
				datasets: [
					{ 
						label: title,
						data: []
					}
				]
			};

			for (i in responses) {
				data.datasets[0].data[choices.indexOf(responses[i].value)] = parseInt(responses[i].count);
			}
			for (var i = 0; i < data.labels.length; i++) {
				if (data.datasets[0].data[i] == null)
					data.datasets[0].data[i] = 0
			}
			return data;
		}

		var interval;
		function startTimer(poll_id) {
			function timerIn() {$('div#timer').fadeIn();}
			if ($('div#custom-poll').is(":visible"))
				$('div#custom-poll').fadeOut(timerIn);
			else if ($("div#main canvas#chart").is(":visible"))
				$("div#main canvas#chart").fadeOut(timerIn);
			else
				timerIn()

			$('div#main').attr('data',poll_id);
			$('div#main div#timer').attr('data', poll_id);
			var d = new Date();
			var seconds = $('div#timer span#seconds')
			localStorage.setItem(""+poll_id, d.setSeconds(d.getSeconds() + 60));
			if (interval)
				clearInterval(interval);
			if (result_window)
				result_window.startTimer(poll_id, 60);
			interval = window.setInterval(function () {
				var diff = localStorage[poll_id] - (new Date().setSeconds(new Date().getSeconds()))
				seconds.text(""+parseInt(diff/1000));
				if (diff/1000 <= 0) {
					retractPoll(poll_id);
					clearInterval(interval); interval = null;
					ajaxPost({action:'get_poll', poll_id:poll_id},
						function (response) {
							debugger;
							$('div#timer').fadeOut(function () {
								drawChart(response);
							})
						})
				}
			}, 500);
		}

		$('nav a#pause').click(function (event) {
			var poll_id = $('div#main div#timer').attr('data');
			var diff = parseInt((localStorage[poll_id] - (new Date().setSeconds(new Date().getSeconds())))/1000)
			localStorage[poll_id] = diff;
			clearInterval(interval); interval = null;
			if (result_window)
				result_window.stopTimer();
		});

		$('nav a#resume').click(function (event) {

			if (!$('div#main div#timer').is(':visible')) {
				$('div#main canvas#chart').fadeOut(function() {
					$('div#main form').fadeOut(function () {
						$('div#main div#timer').fadeIn();
					})
				})
			}

			if (interval)
				return;

			var poll_id = $('div#main div#timer').attr('data');
			$('div#main').attr('data', poll_id);
			if (localStorage[poll_id] < 60) {
				var d = new Date();
				if (result_window)
					result_window.startTimer(poll_id,localStorage[poll_id]);

				localStorage.setItem(""+poll_id, d.setSeconds(d.getSeconds() + parseInt(localStorage[poll_id])));
				var seconds = $('div#timer span#seconds')
				interval = window.setInterval(function () {
					debugger;
					var diff = localStorage[poll_id] - (new Date().setSeconds(new Date().getSeconds()))
					seconds.text(""+parseInt(diff/1000));
					if (diff/1000 <= 0) {
						retractPoll(poll_id);
						clearInterval(interval);
						ajaxPost({action:'get_poll', poll_id:poll_id},
							function (response) {
								debugger;
								$('div#timer').fadeOut(function () {
									drawChart(response);
								})
							})
					}
				}, 500);
			} else {
				errorAlert("No Poll to Stop");
			}
		})

		$('nav a#stop').click(function (event) {
			debugger;
			retractPoll($('div#main div#timer').attr('data'));
			ajaxPost({'action':'get_poll',poll_id:$('div#main div#timer').attr('data')}, function (response) {
				drawChart(response);
			})
			if (interval) {
				clearInterval(interval); interval = null;
			}
		})

		var myBarChart;
		function drawChart(response) {
			var data = processResponses(response.title||"Poll #"+response.poll_id,response);

			var details = {type: 'bar', data: data, options: { scales: { yAxes: [{ ticks: { beginAtZero:true}}]}}}
			if (result_window) {
				details_copy = $.extend(true, {}, details);
				result_window.drawChart(details_copy);
			}

			function chartIn() { $("div#main canvas#chart").fadeIn(); }
			if ($('div#custom-poll').is(":visible"))
				$('div#custom-poll').fadeOut(chartIn);
			else if ($('div#timer').is(':visible'))
				$('div#timer').fadeOut(chartIn);
			else
				$("div#main canvas#chart").fadeIn();
			
			var ctx = $("div#main canvas#chart");
			$('div#main').attr('data', response.poll_id)
			if (myBarChart)
				myBarChart.destroy();

			
			myBarChart = new Chart(ctx, details);
			
		}

		$('table').on('click', 'tr#poll', function (event) {
			ajaxPost({action:'get_poll', poll_id:$(event.currentTarget).attr('data')},
				function (response) {
					drawChart(response);
				})
		})

		var result_window;
		$('nav a#results').click(function (event) {
			if (result_window)
				result_window.close();
			result_window = window.open()

			$.post(location.href, {action:'results_window'}, function (response) {
				if ($('div#main canvas#chart').is(':visible')) {
					window.childReady = function () {
						ajaxPost({action:'get_poll', poll_id:$('div#main').attr('data')}, function (response) {
							var data = processResponses(response.title||"Poll #"+response.poll_id,response);
							var details = {type: 'bar', data: data, options: { scales: { yAxes: [{ ticks: { beginAtZero:true}}]}}};
							result_window.drawChart(details);
							});
					}
					result_window.document.write(response);
				} else if ($('div#main div#timer').is(':visible')) {
					window.childReady = function () {
						ajaxPost({action:'get_poll', poll_id:$('div#main').attr('data')}, function (response) {
							debugger;
							var data = processResponses(response.title||"Poll #"+response.poll_id,response);
							result_window.startTimer(response.poll_id,parseInt((localStorage[poll_id] - (new Date().setSeconds(new Date().getSeconds())))/1000));
					})
					result_window.document.write(response);
				}
			} else {
				result_window.document.write(response);
			}
		});
	});


		$('nav a#repeat').click(function (event) {
			var poll_id = $('div#main').attr('data');
			if (!poll_id) {
				errorAlert("no poll was selected to repeat"); return;
			}

			ajaxPost({action:'copy_poll',poll_id:poll_id}, function (response) {
				debugger;
			})
		})

		function getPending() {
			ajaxPost({action:'get_pending'}, function (response) {
				if (!response.result) {
					errorAlert("unable to get pending polls"); return;
				}
				for (i in response.result) {
					prependToTable("pending",response.result[i]);
				}
			})
		}

		$('table').on('click', 'a#delete', function (event) {
			event.stopPropagation();
			ajaxPost({action:'delete_poll',poll_id:$(event.target).parents('tr').attr('data')}, function (response) {
				removeFromTable('pending', $(event.target).parents('tr').attr('data'));
			})
		})

		$('table').on('click', 'a#start', function (event) {
			debugger;
			event.stopPropagation();
			ajaxPost({action:'make_active', poll_id:$(event.target).parents('tr').attr('data')}, function (response) {
				removeFromTable('pending', $(event.target).parents('tr').attr('data'));
				ajaxPost({action:'get_active'}, function(res) {
					res.date = res.modified;
					prependToTable('active', res, true);
					startTimer(res.poll_id);
				});
			})
		})



		getActive();
		getPending();
		getArchive();
	});
</script>