	<style>
	.clicker {
		margin: auto;
		width:60%;
	}

	.btn-block {
		max-width: 400px;
	}

	div#choice button {
		text-align: left;
		padding-left: 10px;
		padding-right:10px;
	}

	.multiple_choice {
		/*text-align: center;*/
	}

	.answer {
		width:100%;
	}
</style>

<div id="warning" align=center style="display: none;">
	<div class='alert alert-warning' role='alert' style=''>
		<strong>Warning!</strong> <span id='message'>Websocket disconnected! You will need to refresh the page to view the lastest poll</span>
	</div>
</div>
<div id="main" align='center' style='padding-top:15%; padding-left: 10%; padding-right: 10%;'>


</div>



<div class="templates" style="display:none">
	<form id='multiple-choice' class='active form-horizontal' data=''>
	</form>
	<div class='form-group' id='choice' data="">
		<button class="btn btn-primary btn-block form-control" style='text-align: center;'></button>
	</div>
</div>

<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
<script>


	function populateMultipleChoice(data) {
		poll = $('div.templates form#multiple-choice').clone();
		poll.attr('data', data.poll);
		for (var key in data.choices) {
			var choice = $('div.templates div#choice').clone();
			choice.find('button').text(data.choices[key]);
			choice.attr('data', key);
			poll.append(choice);
		}
		$('div#main').html(poll);
	}

	function getVoted(poll_id) {
		$.post(location.href, {action:'get_vote',poll_id:poll_id})
			.done(function(response) {
				if (!response) return;
				response = JSON.parse(response);
				markVoted(response["choice_id"])
			});
	}

	function markVoted(choice_id) {
		$('form div#choice button').removeClass('btn-danger');
		$('form div#choice[data='+choice_id+'] button').addClass('btn-danger');
	}

	document.addEventListener('DOMContentLoaded', function(){

		$('form').bind('submit',function(e){e.preventDefault();});


		$("div#main").on('click', 'button', function (event) {
			// debugger;
			var target = $(event.currentTarget);
			target.parents('form').bind('submit', function(e){e.preventDefault();});

			var data = {
				poll_id: target.parents('form').attr('data'),
				choice_id: target.parents('div#choice').attr('data'),
				action: 'vote'
			}
			console.log(data);
			$.post(location.href, data)
				.done(function(response) {
					if (response == "true") {
						markVoted(data.choice_id);
					}
				})
		});


		var conn, interval;
		function connectWebsocket() {
			conn = new ab.Session('ws://colab-sbx-377.oit.duke.edu:8080',
			function() {
				conn.subscribe('polls', function(topic, data) {
					populateMultipleChoice(data);
				});
				conn.subscribe('retract', function(topic,data) {
					console.log('received retraction');
					$("div#main form button").attr("disabled", true);
				})
				$('#warning').toggle(false);
				clearInterval(interval);
			},
			function() {
				console.warn('WebSocket connection closed');
				$('#warning').toggle(true);
				interval = setInterval(function () {
					connectWebsocket();
				}, 1000);
			},
			{'skipSubprotocolCheck': true}
		);
		}
		

		$.post(location.href, {'action': 'get_active'})
			.done(function (response) {
				if (!response) return;
				response = JSON.parse(response);
				var choices = {}
				for (var i in response) {
					choices[response[i].choice_id] = response[i].choice_value
				}
				data = {"choices":choices};
				data.poll = response[0].poll_id;
				populateMultipleChoice(data);
				getVoted(data.poll);
			});
		connectWebsocket();
	});
</script>